*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

.bg{
	height: 100%;
	width: 100%;
	background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4))
					  ,url(../img/bg.jpg);
	background-position: center;
	background-size: cover;
	position: absolute;
}

.form-box{
	width: 1480px;
	height: 1880px;
	opacity: 0.7;
	position: relative;
	margin: 7% auto;
	background-color: #fff;
	padding: 5px;
}

.button-box{
	width: 1000px;
	margin: 100px auto;
	position: relative;
	top: 100px;
	box-shadow: 0 0  80px 35px #ff61241f;
	border-radius: 90px;
}

.toggle-btn{
	padding: 30px 153px;
	cursor: pointer;
	border: none;
	outline: none;
	position: relative;
	font-size: 50px;
	background: transparent;
}

#btn{
	top: 0;
	left: 0;
	position: absolute;
	width: 500px;
	height: 100%;
	background: linear-gradient(to right, #ff105f, #ffad06);
	border-radius: 90px;
	transition: .5s;
}

.socil-icon{
	margin: 0 auto;
	text-align: center;
	position: relative;
	top: 110px;
}

.socil-icon img{
	width: 150px;
	margin: 0 25px;
	cursor: pointer;
}

.input-grop{
	top: 760px;
	position: absolute;
	width: 1480px;
	transition: 0.5s;
}

.input-field{
	width: 80%;
	padding: 20px 0;
	margin: 40px 30px;
	border-left: 0;
	border-right: 0;
	border-top: 0;
	border-bottom: 5px solid #999;
	outline: none;
	background: transparent; 
}

::-webkit-input-placeholder{
	font-size: 40px;
}

.check-box{
	margin: 70px 40px;
	width: 45px;
	height: 45px;
}

span{
	color: #777;
	font-size: 55px;
	box-sizing: 150px;
	position: relative;
}

.submit-btn{
	width: 85%;
	padding: 50px 150px;
	cursor: pointer;
	display: block;
	margin: auto;
	background: linear-gradient(to right, #ff105f, #ffad06);
	border: 0;
	outline: none;
	border-radius: 100px;
	font-size: 50px;
	position: relative;
	top: 100px;
}